<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/wwwroot/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="https://prasasdi.github.io">
                    Ini ceritanya header
                </a>
            </div>       
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <p style="color:gray; font-size: 12px;">footer ini <span id="c-bottom-nav"></span> Powered by Express</p>
        </div>
    </nav>
    <footer>
        <script> 
            document.getElementById('c-bottom-nav').textContent = new Date().getFullYear();
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap JS and its dependencies -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/wwwroot/js/app.js"></script>
        <script src="/{{context}}/{{context}}.js"></script>
    </footer>
</body>
</html>
